@font-face {
    font-family: "Golden";
    src: url('../assets/fonts/golden.TTF');
}
body {
    font-family: "Golden",Arial, sans-serif;
    color: #1c1c1c;
    background-image: url('../assets/images/goldMine2.png');
    background-size: 100%; 
    background-position: 50% 15%;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
 
p,
ul {
    margin: 0 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}
 
a {
    color: #1D745A;
}
 
h1 {
    color: #fff;
    font-size: 2em;
}
 
h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
}
 
a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

#primary_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 0 0;
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 3em;
    height: 3em;
    border-bottom: 1px solid #383838;
}
 
#primary_nav li:last-child a {
    border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
.retour_page {
    width: 200px;
    float: right;
}
.credits, .infos {
    width: 65%;
    margin-left: 200px;
}

@media only screen and (max-width: 800px){
    body{
        background-size: 300% !important;
    }
    .credits, .infos{
        width: 100%;
        margin-left: 0 !important;
    }
    .retour_page{
        width: 2em !important;
        float: none !important;
    }
}